@model DotNetCodeGenerator.Domain.Entities.CodeGeneratorResult
@using DotNetCodeGenerator.Domain.Helpers;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Code Generator Result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <input type="hidden" value="@Model.SelectedTable.ToStr()" id="SelectedTableValue" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConnectionString" class="control-label"></label>
                <input asp-for="ConnectionString" class="form-control" />
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MySqlConnectionString" class="control-label"></label>
                <input asp-for="MySqlConnectionString" class="form-control" />
                <span asp-validation-for="MySqlConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SqlCreateTableStatement" class="control-label"></label>
                <input asp-for="SqlCreateTableStatement" class="form-control" />
                <span asp-validation-for="SqlCreateTableStatement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedTable" class="control-label"></label>
                <input asp-for="SelectedTable" class="form-control" />
                <span asp-validation-for="SelectedTable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedTable" class="control-label"></label>
                <div class="col-md-4">

                    <select asp-for="SelectedTable">
                        <option>Please select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="button" id="RetrieveTables" value="Get Tables" />
                </div>
                <div class="col-md-3">
                    <input type="text" id="TextBox_Filter" placeholder="Filter Table Names" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ModifiedTableName" class="control-label"></label>
                <input asp-for="ModifiedTableName" class="form-control" />
                <span asp-validation-for="ModifiedTableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StringCodePattern" class="control-label"></label>
                <input asp-for="StringCodePattern" class="form-control" />
                <span asp-validation-for="StringCodePattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameSpace" class="control-label"></label>
                <input asp-for="NameSpace" class="form-control" />
                <span asp-validation-for="NameSpace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsMethodStatic" /> @Html.DisplayNameFor(model => model.IsMethodStatic)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsModelAttributesVisible" /> @Html.DisplayNameFor(model => model.IsModelAttributesVisible)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExec" class="control-label"></label>
                <input asp-for="StoredProcExec" class="form-control" />
                <span asp-validation-for="StoredProcExec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExecCode" class="control-label"></label>
                <input asp-for="StoredProcExecCode" class="form-control" />
                <span asp-validation-for="StoredProcExecCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExecModel" class="control-label"></label>
                <input asp-for="StoredProcExecModel" class="form-control" />
                <span asp-validation-for="StoredProcExecModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExecModelDataReader" class="control-label"></label>
                <input asp-for="StoredProcExecModelDataReader" class="form-control" />
                <span asp-validation-for="StoredProcExecModelDataReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableRepository" class="control-label"></label>
                <input asp-for="TableRepository" class="form-control" />
                <span asp-validation-for="TableRepository" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableClassItem" class="control-label"></label>
                <input asp-for="TableClassItem" class="form-control" />
                <span asp-validation-for="TableClassItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableClassInstance" class="control-label"></label>
                <input asp-for="TableClassInstance" class="form-control" />
                <span asp-validation-for="TableClassInstance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SqlDatabaseOperation" class="control-label"></label>
                <input asp-for="SqlDatabaseOperation" class="form-control" />
                <span asp-validation-for="SqlDatabaseOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspMvcControllerClass" class="control-label"></label>
                <input asp-for="AspMvcControllerClass" class="form-control" />
                <span asp-validation-for="AspMvcControllerClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SqlSaveOrUpdateStoredProc" class="control-label"></label>
                <input asp-for="SqlSaveOrUpdateStoredProc" class="form-control" />
                <span asp-validation-for="SqlSaveOrUpdateStoredProc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserMessage" class="control-label"></label>
                <input asp-for="UserMessage" class="form-control" />
                <span asp-validation-for="UserMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserMessageState" class="control-label"></label>
                <input asp-for="UserMessageState" class="form-control" />
                <span asp-validation-for="UserMessageState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MySqlDatabaseOperation" class="control-label"></label>
                <input asp-for="MySqlDatabaseOperation" class="form-control" />
                <span asp-validation-for="MySqlDatabaseOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MySqlSaveOrUpdateStoredProc" class="control-label"></label>
                <input asp-for="MySqlSaveOrUpdateStoredProc" class="form-control" />
                <span asp-validation-for="MySqlSaveOrUpdateStoredProc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApiController" class="control-label"></label>
                <input asp-for="WebApiController" class="form-control" />
                <span asp-validation-for="WebApiController" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<input  id="TableCopied" type="text" />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
